.idea/
.vscode/

__pycache__/
*.py[cod]
*.pyo
*.pyd

build/
dist/
*.spec.tmp

.pytest_cache/
.mypy_cache/
.ruff_cache/

runtime/
browser_data/
screenshot/
taskflow/
python/
Minashigo_Script/

models/*
!models/
!models/.gitkeep
!models/resource_config.py
!models/resource_manager.py

json/accounts.json
user/config.json

*.log
*.spec
*.exe

git_push_release.py
build.py
Thumbs.db
Desktop.ini
click2.html